.header {
  min-height: 68px;
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__title {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.header__title--home {
  cursor: pointer;
}

.header__catalog-link {
  color: #ffffff;
  text-transform: none;
  font-weight: 500;
}
