.map-container {
  width: 100%;
  height: 400px;
}

.map {
  width: 100%;
  height: 100%;
}

.map__tooltip {
  font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.leaflet-popup-content-wrapper {
  border-radius: 4px;
}

.leaflet-popup-content {
  margin: 8px 12px;
}
